version: "3.8" # Docker Compose のバージョンを指定。通常は最新の安定版でOK。
name: nextjs-hc
services:
  hc-nginx:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BACK_APP_ENV: prod
    restart: always
    networks:
      - home_network

  nginx-aws:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BACK_APP_ENV: aws
    ports:
      - "11180:80"
    restart: always
    container_name: nextjs-hc

networks:
  home_network:
    external: true
